.social{
    background-color: var(--foreground-color);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
}
.icons{
    color: var(--primary-text-color);
    padding: 20px;
    font-size: 25px;
    transition: 0.2s ease-in-out;
}
.icons:hover{
    color: var(--hover-color);
    font-size: 35px;
}