.toggle_container .toggle_input,
.toggle_container .toggle_label
{
    cursor: pointer;
    font-size: 15px;
}
.toggle_container .toggle_input{
    display: none;
}
.toggle_container{
    width: var(--button-normal-size);
    display: flex;
    justify-content: center;
    color: var(--primary-text-color);
    background-color: var(--background-color);
    border: 1px solid var(--primary-text-color);
    font-size: 1rem;
    padding: 5px;
    border-radius: 5px;
    transition: 0.2s ease-in-out;
}
.toggle_container:hover{
    background-color: var(--hover-color);
}
